
@media screen and (min-width: 700px) {
html {
font-size: 20px; 
}
}

body {
background-color: #143922;
font-family: 'Montserat','Arial Narrow Bold', sans-serif;
}
footer {
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 95%;  
    background-color: transparent;  
    color: rgb(97, 60, 60);  
    text-align: center;  
    } 

header {
display: flex;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
flex-direction: row;
justify-content: space-between; 
height: 11rem;
align-items: center;
background-color: #849179;
padding: 0rem;
    /*position: fixed;
    width: 100%;
    display: block;
    top: 0;
    z-index: 5;*/
    }

@media print {
    header {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    header nav{
        display: block;
    }
}

nav ul li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
    
    font-family: sans-serif; font-style: helvetica;
    
}
nav ul li a {
    display: block;
    
    
    color: #143922;
    
    text-decoration: none;
    
    }
    nav ul li a:hover {
        background-color: #ffffff;
        
        color: #143922
        
        }
   

.my-box {
    width: 100%;
    height: 20rem;
    background-color: rgb(64, 39, 39);
    position: relative;
    background-image: url(assets/agricuture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inside-box {
    background-color:transparent;
    color: #ffffff;
    width: 50%;
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    animation-name: movein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes movein {
    from {
        transform: translate(-600px);
    }

    80% {
        transform: translate(200px);
    }

    to {
        transform: translate(0px);
    }
}

.inside-box button {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:transparent;
    color: #ffffff;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    /* transition-property: all;
    transition-duration: 1s; */
    transition: all 0.6s ease-in-out;
    transition-delay: 0.2s;
}

.inside-box button:hover {
    background-color: rgb(255, 255, 255);
    color: #143922;
}



@media screen and (min-width: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
}


@media screen and (max-width: 300px) {
    header {
        display: block;
        background-color: rgb(79, 95, 109);
    }
}

    @media screen and (min-width: 700px){
        .footer-nav {
            display: none;
        }



        